apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml
  - path: patch-service.yaml

images:
  - name: task-manager
    newTag: latest

labels:
- includeSelectors: true
  pairs:
    environment: prod
