# Argo CD Application resource for DEV environment
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: task-manager-dev
  namespace: argocd

spec:
  project: default

  source:
    repoURL: https://github.com/jesuslabtech/task-manager-gitops
    targetRevision: main
    path: apps/task-manager/overlays/dev

  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    syncOptions:
      - CreateNamespace=false
    automated:
      prune: true
      selfHeal: true
