apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml

images:
  - name: jlabtech/task-manager
    newTag: 076ba726e3e66e98556d3dfa07557abf415da54a

labels:
- includeSelectors: true
  pairs:
    environment: dev
