apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml

images:
  - name: task-manager
    newTag: sha-c9ecb283aef2f4b0b578cd747f59c96ec91ce80f

labels:
- includeSelectors: true
  pairs:
    environment: dev
