apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml

images:
  - name: task-manager
    newTag: latest

labels:
- includeSelectors: true
  pairs:
    environment: dev
