apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml

images:
  - name: task-manager
    newTag: d0d5db72945d87a1d237c1ba96ff212b03b33226

labels:
- includeSelectors: true
  pairs:
    environment: dev
